@import "tailwindcss";

/* ===== Gotham Fonts ===== */

@font-face {
  font-family: "canva sans";
  src: url("/fonts/canva-sans-regular.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Larken_Black_Italic";
  src: url("/fonts/fonnts.com-Larken_ExtraBold_Italic.otf") format("otf");
  font-weight: 800;
  font-display: swap;
}

.font-Larken-Black-Italic {
  font-family: var(--font-Larken_Black_Italic);
  font-weight: 800; /* matches your @font-face */
  font-style: italic;
}

/* ===== CSS Variables ===== */
:root {
  /* Fonts */
  --font-gotham-regular: "Gotham Condensed", sans-serif;
  --font-gotham-bold: "Gotham Condensed", sans-serif;
  --font-canva-sans-regular: "canva sans", sans-serif;
  --font-Larken_Black_Italic: "Larken_Black_Italic", sans-serif;

  /* Colors */
  --background: #ffffff;
  --foreground: #171717;
}

/* ===== Base Styles ===== */
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; /* Default font for whole page */
  line-height: 1.6;
}

/* ===== Utility Classes for Specific Text ===== */
.font-gotham-regular {
  font-family: var(--font-gotham-regular);
  font-weight: 400;
}

.font-gotham-bold {
  font-family: var(--font-gotham-bold);
  font-weight: 700;
}
